##imports

importFrom(edgeR, DGEList)
importClassesFrom(edgeR, DGEList)

importFrom(DESeq2, DESeqDataSetFromMatrix, normalizationFactors, counts, design, "normalizationFactors<-", makeExampleDESeqDataSet)
importClassesFrom(DESeq2, DESeqDataSet)

importFrom(GenomicRanges, rowData, colData, assay, as.data.frame, SummarizedExperiment)
importFrom(methods, setAs, setGeneric, setMethod)

# exports

export(as.DESeqDataSet, as.DGEList)
export(DGEList)
export(mockRnaSeqData)
