##imports

importFrom(edgeR, DGEList)
importClassesFrom(edgeR, DGEList)

importFrom(DESeq2, DESeqDataSetFromMatrix, normalizationFactors, counts, design, "normalizationFactors<-", makeExampleDESeqDataSet)
importClassesFrom(DESeq2, DESeqDataSet)

importFrom(GenomicRanges, rowRanges, colData, assay, as.data.frame, SummarizedExperiment)
importFrom(methods, setAs, setGeneric, setMethod)

# exports

export(as.DESeqDataSet, as.DGEList)
S3method(as.DESeqDataSet, DGEList)
S3method(as.DGEList, DESeqDataSet)

export(DGEList)
export(mockRnaSeqData)
